@{
    ViewData["Title"] = ViewBag.title;
}
<style>
    .form-inline .col-sm-12 {
        line-height: 55px;
    }

    .form-inline .col-sm-4 .col-sm-4 {
        line-height: 35px;
    }

    .form-inline .control-label {
        text-align: right;
    }

    .ueditor {
        line-height: 25px;
    }
</style>
<form name="myForm">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="setting_1">
            <div class="form-inline">
                <input class="form-control" type="text" data-ng-model="model1.id" style="display:none;" />
                <div class="col-sm-12">
                    <label class="control-label col-sm-2">广告位置:</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="model1.types" required>
                            <option value="-1">请选择</option>
                            <option value="0">首页</option>
                            <option value="1">信息市场</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="control-label col-sm-2">跳转路径:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" ng-model="model1.jumpUrl" placeholder="跳转路径" required />
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="control-label col-sm-2">图片:</label>
                    <div class="col-sm-10">
                        <input type="file" ng-model="model1.pic" title="点击上传图片" class="form-control" style="position:absolute;width:100%;height:100%;opacity:0;filter:alpha(opacity=0);cursor:pointer;" accept="image/png,image/jpeg,image/bmp" required onchange="$(this).scope().ToBase64(this)" />
                        <img ng-src="{{model1.pic}}" style="max-width:250px;" title="浏览图片" alt="点击上传图片" />
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button class="btn btn-success" ng-click="saveModel1()" ng-disabled="myForm.$invalid">保 存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script type="text/javascript">
        $angular.add(function ($scope, $query, $timeout, $location) {
            $scope.model1 = { types: "-1", pic: "/images/add_pic.png" };
            $scope.customConfig = {
                initialFrameWidth: "100%",
                initialFrameHeight: 320,
                imageActionName: "Local&path=/Upload/Editor",
                catcherActionName: "Remote&path=/Upload/Editor",
                state: "SUCCESS",
                imageUrlPrefix: "",
                catcherFieldName: "upfile",
                catcherUrlPrefix: ''
            };
            $scope.saveModel1 = function () {
                $query.post("/webApi/BannerAdd_Updata", $scope.model1, function (response) {
                    if (response.status === 200) {
                        $Alert("添加成功!").then(function () {
                            location.href = $url("/Home/BannerManager");
                        });
                    } else {
                        $Alert(response.message)
                    }
                });
            };
            $scope.uploadHeadImage = function (input) {
                var reader = new FileReader();
                reader.onloadend = function (e) {
                    var img = new Image();
                    img.onload = function () {
                        //生成比例
                        var w = img.width;
                        var h = img.height;
                        //生成canvas
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d');
                        $(canvas).attr({ width: w, height: h });
                        ctx.drawImage(img, 0, 0, w, h);
                        $scope.model1.pic = canvas.toDataURL('image/png', 0.2);
                        $scope.$apply();
                    }
                    img.src = reader.result;
                };
                reader.readAsDataURL(input.files[0]);
            };
            $scope.ToBase64 = function (input) {
                var imgFile = new FileReader();
                imgFile.readAsDataURL(input.files[0]);
                imgFile.onload = function () {
                    $scope.model1.pic = this.result;
                    $scope.$apply();
                }
            };

        });
    </script>
}