@{
    ViewData["Title"] = "公告列表";
}

<style>
    .search .form-inline {
        line-height: 40px;
    }
</style>

<div class="row search">
    <div class="form-inline">
        <input type="text" class="form-control" placeholder="标题" ng-model="search.title" />
    </div>
    <button class="btn btn-primary" type="button" ng-click="pageChanged(true)">搜索</button><br />
    <a class="btn btn-primary" href="/Home/AddAnnounce">添加公告</a>
</div>


<table class="table table-hover table-condensed table-bordered" style="width:auto;">
    <thead>
        <tr style="height:35px;">
            <th style="width: 4%;">序号</th>
            <th style="width: 5%;">标题</th>
            <th style="width: 5%;">内容</th>
            <th style="width: 5%;">类型</th>
            <th style="width: 7%;">添加时间</th>
            <th style="width: 8%;">修改时间</th>
            <th style="width: 7%;">操作</th>
        </tr>
    </thead>
    <tbody class="wait-loaded">
        <tr ng-repeat="m in List">
            <td>{{m.id}}</td>
            <td>{{m.title}}</td>
            <td>{{m.content}}</td>
            <td>{{m.types==0?'首页':'其他'}}</td>
            <td>{{m.createTime|date:'yyyy-MM-dd'}}</td>
            <td>{{m.updateTime|date:'yyyy-MM-dd'}}</td>
            <td>
                <a ng-click="delAdAnnounce(m)" href="javascript:void(0);">删除</a>|
                <a href="/Home/AddAnnounce?id={{m.id}}">修改</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="mypager wait-loaded">
    <ul uib-pagination total-items="search.recordCount" items-per-page="search.pageSize" ng-change="pageChanged()" ng-model="search.pageIndex" max-size="7"
        class="pagination-sm" boundary-links="true" num-pages="search.numPages" boundary-link-numbers="true" first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页"></ul>
    <div class="recordCount">共 {{search.recordCount}} 条</div>
</div>
@section Scripts{
    <script type="text/javascript">
        $angular.add(function ($scope, $query, $timeout, $sce) {

            $scope.search = { pageIndex: 1, pageSize: 10 };
            $scope.pageChanged = function (reindex) {
                if (reindex) {
                    $scope.search.pageIndex = 1;
                }
                $query.post("/webapi/GetAnnounces", $scope.search, function (response) {
                    if (response.code === 200) {
                        $scope.List = response.data;
                        $scope.search.recordCount = response.recordCount;
                    } else {
                        $Alert(response.message);
                    }
                });
            };
            $scope.delAdAnnounce=function(announce){
                $Confirm("你确定要删除该广告吗?", function () {
                    $query.get("/webapi/DelAnnounce?id="+announce.id, function (response) {
                        if (response.code === 200) {
                            $scope.pageChanged();
                        } else {
                            $Alert(response.message);
                        }
                    });
                }, "消息提醒");
            }

            $scope.pageChanged();
        });
    </script>
}