@{
    ViewData["Title"] = "Banner管理";
}
@using domain.enums
<style>
    .form-inline .col-sm-12 { line-height: 55px; }
    .form-inline .col-sm-2 { width: 80px; }
    .form-inline .col-sm-4 .col-sm-4 { line-height: 35px; }
    .form-inline .control-label { text-align: right; }
    .search .form-inline { line-height: 40px; }
</style>

<div class="row search">
    <div class="form-inline">
        <div class="form-inline">
            <label control-label>广告位置:</label>
            <select class="form-control" style="display:inline-block;width:auto;" ng-model="search.types">
                <option value="-1">请选择</option>
                <option value="0">首页</option>
                <option value="1">信息市场</option>
            </select>
        </div>

        <button class="btn btn-primary" type="button" ng-click="pageChanged(true)">搜索</button>
    </div>
    <br />
    <div class="form-inline">
        <a class="btn btn-primary" href="/home/BannerAdd_Updata">添加Banner</a>
    </div>
</div>
<table class="table table-hover table-condensed table-bordered" style="width:auto;">
    <thead>
        <tr style="height:35px;">
            <th style="width: 3%;">序号</th>
            <th style="width: 5%;">类型</th>
            <th style="width: 5%;">图片</th>
            <th style="width: 5%;">跳转地址</th>
            <th style="width: 7%;">操作</th>
        </tr>
    </thead>
    <tbody class="wait-loaded" >
        <tr ng-repeat="m in List">
            <td>{{$index+1}}</td>
            <td>{{m.types==0?'首页':'信息市场'}}</td>
            <td class="_image">
                <img ng-src="{{m.pic}}" onclick="showimage(this)" style="width:30px;height:30px" />
            </td>
            <td>{{m.jumpUrl}}</td>
            <td>
                <a ng-click="delAdPic(m)" href="javascript:void(0);">删除</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="modal fade in" id="ShowImage_Form" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="height:100%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div id="img_show">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function showimage(obj) {
            $("#ShowImage_Form").modal("show");
            $("#ShowImage_Form").find("#img_show").html("<img src='" + obj.src + "' class='carousel-inner img-responsive img-rounded' />");
        }
    </script>
    <script type="text/javascript">
        $angular.add(function ($scope, $query, $timeout, $sce) {
            $scope.search = { pageIndex: 1, pageSize: 10 };
            $scope.pageChanged = function (reindex) {
                if (reindex) {
                    $scope.search.pageIndex = 1;
                }
                $query.post("/webapi/BannerManagerList", $scope.search, function (response) {
                    if (response.code === 200) {
                        $scope.List = response.data;
                        $scope.search.recordCount = response.recordCount;
                    } else {
                        $Alert(response.message);
                    }
                });
            };
            $scope.delAdPic = function (model) {
                $Confirm("你确定要删除该广告吗?", function () {
                    $query.post("/webapi/DelBannerPic", model, function (response) {
                        if (response.code === 200) {
                            $scope.pageChanged();
                        } else {
                            $Alert(response.message);
                        }
                    });
                }, "消息提醒");
            };
            $scope.pageChanged();
        });
        
    </script>

}