@{
    ViewData["Title"] = "微信用户信息管理";
}
@using domain.enums
<style>
    .form-inline .col-sm-12 {
        line-height: 55px;
    }

    .form-inline .col-sm-2 {
        width: 80px;
    }

    .form-inline .col-sm-4 .col-sm-4 {
        line-height: 35px;
    }

    .form-inline .control-label {
        text-align: right;
    }

    .search .form-inline {
        line-height: 40px;
    }
</style>

<div class="row search">
    <div class="form-inline">
        <input type="text" class="form-control" placeholder="用户名：" ng-model="search.UserName" ng-keyup="enterEvent($event)" />
    </div>
    <div class="form-inline">
        <input type="text" class="form-control" placeholder="手机号：" ng-model="search.phoneNum" ng-keyup="enterEvent($event)" />
    </div>
    <button class="btn btn-primary" type="button" ng-click="pageChanged(true)">搜索</button>
    <br />

</div>
<table class="table table-hover table-condensed table-bordered" style="width:auto;">
    <thead>
        <tr style="height:35px;">
            <th style="width: 3%;">序号</th>
            <th style="width: 5%;">用户名</th>
            <th style="width: 5%;">手机号</th>
            <th style="width: 5%;">头像</th>
            <th style="width: 5%;">积分</th>
            <th style="width: 5%;">注册日期</th>
            <th style="width: 5%;">状态</th>
            <th style="width: 7%;">操作</th>
        </tr>
    </thead>
    <tbody class="wait-loaded">
        <tr ng-repeat="m in List" >
            <td>{{$index+1}}</td>
            <td>{{m.nickName}}</td>
            <td>{{m.phoneNum}}</td>
            <td class="_image">
                <img ng-src="{{m.pic}}" onclick="showimage(this)" style="width:30px;height:30px" />
            </td>
            <td>{{m.amount}}</td>
            <td>{{m.createTime|date:'yyyy-MM-dd'}}</td>
            <td style="background-color:{{m.status==0?'':'#e8fa08'}}">{{m.status==0?"有效":"禁用中"}}</td>
            <td>
                <a href="javascript:void(0);" ng-click="setStatus(m)">{{m.status==0?"禁用":"解禁"}}</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="mypager wait-loaded">
    <ul uib-pagination total-items="search.recordCount" items-per-page="search.pageSize" ng-change="pageChanged()" ng-model="search.pageIndex" max-size="7"
        class="pagination-sm" boundary-links="true" num-pages="search.numPages" boundary-link-numbers="true" first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页"></ul>
    <div class="recordCount">共 {{search.recordCount}} 条</div>
</div>
<div class="modal fade in" id="ShowImage_Form" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="height:100%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div id="img_show">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function showimage(obj) {
            $("#ShowImage_Form").modal("show");
            $("#ShowImage_Form").find("#img_show").html("<img src='" + obj.src + "' class='carousel-inner img-responsive img-rounded' />");
        }
    </script>
    <script type="text/javascript">

        $angular.add(function ($scope, $query, $timeout, $sce) {
            $scope.enterEvent = function (e) {
                var keycode = window.event ? e.keyCode : e.which;
                if (keycode == 13) {
                    $scope.pageChanged(true);
                }
            };
            $scope.search = { pageIndex: 1, pageSize: 10 };
            $scope.search.types = "-1";
            $scope.pageChanged = function (reindex) {
                if (reindex) {
                    $scope.search.pageIndex = 1;
                }
                $query.post("/webapi/WechatUser", $scope.search, function (response) {
                    if (response.code === 200) {
                        $scope.List = response.data;
                        $scope.search.recordCount = response.recordCount;
                    } else {
                        $Alert(response.message);
                    }
                });
            };
            $scope.setStatus = function (model) {
                var status = model.status == 1 ? "禁用" : "解禁";
                $Confirm(`你确定要${status}该用户吗?`, function () {
                    $query.post("/webapi/UpdateUserStatus", model, function (response) {
                        if (response.code === 200) {
                            $scope.pageChanged();
                        } else {
                            $Alert(response.message);
                        }
                    });
                }, "操作提醒");
            }
            $scope.pageChanged();
        });

    </script>

}