@{
ViewData["Title"] = "欢迎登录";
}

<h2>LF 小鱼全球区块链交易所</h2>
<h1 class="page-header">数据分析</h1>
<div>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder" style="background-color:cadetblue;margin: 0 auto;">
            <div style="width: 80%;height: 200px; color: aliceblue;">
                征服世界，并不伟大，一个人能征服自己，才是世界上最伟大的人。
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder" style="background-color: burlywood;">
            <div style="width: 80%;height: 200px; color: aliceblue;">
                人之所以平凡，在于无法超越自己。
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder" style="background-color: chocolate;">
            <div style="width: 80%;height: 200px;color: aliceblue;">
                智者顺时而谋，愚者逆时而动。
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder" style="background-color: cornflowerblue;">
            <div style="width: 80%;height: 200px; color: aliceblue;">
                骨宜刚，气宜柔，志宜大，胆宜小，心宜虚，言宜实，慧宜增，福宜惜，虑不远，忧亦近。
            </div>
            
        </div>
    </div>
</div>